.avatar-uploader {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px dashed #ccc;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 30px;
  line-height: 200px;
  width: 200px;
  height: 200px;
  text-align: center;
}
.avatar-uploader img {
  width: 200px;
  height: 200px;
}
.el-form-item__content {
  width: 800px;
}
.ql-editor {
  height: 300px;
}
.ql-toolbar.ql-snow {
  padding: 0 10px;
}
